*{
	margin: 0;
	padding: 0;
}
main{
	background-color: #eee;
	border: 1px solid #999;
	margin: 20px auto;
	padding: 20px;
	width: 95%;
	overflow: hidden;	
}
img{
	max-height: 80px;
	max-width: 80px;
	margin: 20px;
}
header{
	width: 200px;
	border: 1px solid #000;
	float: left;
}
article{
	padding: 20px;
	margin: 0px 142px 0px 222px;
	border: 1px solid #000;
}
aside{
	width: 120px;
	border: 1px solid #000;
	float: right;
}